<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYCgsssGSjwmI0_nhHLLHT8VwSz3dVeMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>120885253396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simplest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>spboot-kt-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>spboot-kt-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120885253396:ios:950d87e6571b04f0c91e01</string>
</dict>
</plist>